* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eef1f4;
  color: #303030;
}

.pagina-inicial {
  min-height: 100vh;
  padding: 30px;
  text-align: center;
}

/* Cabeçalho */

.cabecalho {
  margin-bottom: 30px;
}

.cabecalho h1 {
  margin: 0;
  font-size: 28px;
  color: #303030;
}

.cabecalho p {
  margin-top: 8px;
  color: #8a8a8a;
}

/* Resumo */

.resumo {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  
}

.resumo h2 {
  margin-bottom: 15px;
  color: #303030;

}

/* Card */

.card-resumo {
  background-color: #ffffff;
  padding: 24px;
  border: 1px solid #e7e7e7;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  
}

/* Título do card */

.titulo-card {
  margin: 0 0 12px;

  color: #777777;
  font-size: 15px;
}

/* Valor */

.valor {
  font-size: 30px;
  color: #00b87a;
}

.cssbuttons-io-button {
  background: #00b87a;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #00b87a;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  margin: 30px auto;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #00b87a;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #00b87a;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}